body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.out{
    width: 1040px;
    margin: 3px auto;
    background: #E1E2E6;
    border: 1px solid #E1E2E6;
    box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.75);
    position: relative;
}

.out .asideLeft{
    width: 35%;
    height: 100%;
    background: #659C9F;
    border: 1px solid #659C9F;
    margin-left: 20px;
    margin-top: -173px;
}

.out .asideLeft .photo{
    width: 230px;
    height: 250px;
    border: 4px solid #FFFDFA;
    border-radius: 50%;
    margin: 30px auto;
    overflow: hidden;
}
.out .asideLeft .photo img{
    width: 240px;
    height: 290px;
}
.out .asideLeft .p{
    width: 300px;
    height: 26px;
    background: #42474B;
    font-size: 20px;
    font-family: STKaiti;
    text-align: center;
    margin: 20px auto;
    color: #FFFDFA;
}

.context,
.other{
    width: 300px;
    margin: 25px auto;
}
.icon{
    padding: 15px 0px;
    transform: scale(1.5)
}
.media{
    display: flex;
    flex-direction: row;
}
.media dt{
    border-bottom: 1px solid #E1E1E6;
    border-right: 1px solid #E1E1E6;
    padding-right: 20px;
}
.media dd{
    padding-top: 12px;
    margin-left: 0px;
    padding-left: 30px;
    color: #FFFDFA;
    border-bottom: 1px solid #E1E1E6;
    width: 75%;
}
.skill{
    width: 300px;
    margin: 25px auto;
}
.skill dt{
    margin-top: 25px;
    padding-bottom: 10px;
}
.skill dd{
    height: 5px;
    background:#42474B;
    margin-left: 0px;
    border-radius: 2px;
    margin-top: 10px;
}
.skill .one{
    height: 5px;
    background: #FFFDFA;
    display: block;
    border-radius: 2px; 
}
a{
    text-decoration: none;
}
.out .header{
    color: #FFFDFA;
    background: #2C3437;
    width: 100%;
    height: 150px;
    margin-top: 20px;
    padding-top: 2px;
}
.out .header h1,p{
    margin-left: 39%;
    color: #E0E3E8;
    font-family: STKaiti;
}
.out .header p{
    font-size: 20px;
    margin-top: -20px;
}
.out .main{
    width: 60%;
    position: absolute;
    left: 38.5%;
    top: 14.5%;
    box-sizing: border-box;
}
.out .main .aboutMe{
    position: relative;
}
.out .main .aboutMe .person{
    display: inline-block;
    position: absolute;
    top: -6%;
    left: 94%;
}
.out .main .aboutMe .p{
    margin-left: 0px;
    width: 100%;
    height: 30px;
    padding-top: 4px;
    background: #42474B;
    font-size: 20px;
    font-family: STKaiti;
    color: #FFFDFA;
}
.out .main .aboutMe p{
    width: 100%;
    margin-left: 0;
    color: #42474B;
    font-family: KaiTi_GB2312;
    font-weight: bold;
    font-size: 18px;
}
.out .main .profile .p{
    margin-left: 0px;
    width: 100%;
    height: 30px;
    padding-top: 4px;
    background: #42474B;
    font-size: 20px;
    font-family: STKaiti;
    color: #FFFDFA;
}
.out .main .profile .person{
    display: inline-block;
    position: absolute;
    top: 11%;
    left: 94%;
}
.out .main .profile h4{
    margin: 10px 0;
}
.out .main .profile .works{
    display: flex;
    flex-direction: row;
}
.out .main .profile .works img{
    width: 160px;
    height: 120px;
}
.out .main .profile .works .code{
    margin-left: 4%;
}
.out .main .profile .works .code dd{
    margin: 8px 0;
}
.out .main .experience .p{
    margin-left: 0px;
    margin-top: 25px;
    width: 100%;
    height: 30px;
    padding-top: 4px;
    background: #42474B;
    font-size: 20px;
    font-family: STKaiti;
    color: #FFFDFA;
}
.out .main .experience .person{
    display: inline-block;
    position: absolute;
    top: 82%;
    left: 94%;
}

.out .main .experience .job pre{
    font-size: 18px;
    font-family: KaiTi_GB2312;
}